@charset "utf-8";
/* CSS Document */

#advancedSearch {
	margin: 0px auto;
	background-color:#dbccc8;
	width:300px;
	text-align:center;
	height:auto;
	padding:10px;;
}
.searchBox {
	text-align:left;
	margin-left:30px;
}
#or {
	margin-top:-10px;
	margin-bottom:0px;
	margin-left: 60px;
}
.customButton {
	width:90px;
	margin-top:10px;
}
#checkboxTitles {
	margin-left:30px;
}