@charset "utf-8";
/* CSS for createSlideshow.php */

#mainContent {
	margin: 0px auto;
	background-color:#dbccc8;
	width:300px;
	text-align:center;
	height:auto;
	padding:10px;
}
#mainContentFields {
	text-align:left;
	margin-left:30px;
}
#createSlideshowButton {
	width:90px;
}


