@charset "utf-8";
/* CSS for managephotos.php */

html{
	background-color: #000;
}
#page-wrap{
	width:100%;
	padding:0;
}
#gallery {
	list-style-type: none;
	padding: 0; 
	height:auto;
	text-align: center; 
	}
	#gallery li { 
		margin: 2px 2px 2px 2px;  
		float: left; 
		width:310px;
		height:320px; 
        cursor:pointer; 
		background-color:#FFFFFF;
	}
	#gallery p {
		line-height:1.0em;
		text-align: center; 
	}
	
#modal {
	display:none;
	margin:15px auto;
}
h2 {
	text-align:center; line-height:25px; color:#FFFFFF; margin-bottom:15px;
}
@media only screen and (min-width: 1586px) {	
	
	#modal { 
		width:1576px; 
	}
}
@media only screen and (min-width: 1272px) and (max-width: 1585px) {	
	
	#modal { 
		width:1262px; 
	}
}
@media only screen and (min-width: 958px) and (max-width: 1271px) {	
	
	#modal { 
		width:948px; 
	}
}
@media only screen and (min-width: 644px) and (max-width: 957px) {	
	
	#modal { 
		width:634px; 
	}
}
@media only screen and (min-width: 0px) and (max-width: 643px) {	
	
	#modal { 
		width:320px; 
	}
}