@charset "utf-8";
/* CSS for header.php which gets included in all pages. */

#logoHeading {
	width:700px; 
	height:77px; 
	position:relative;
}
#logoHeading h1{
	position:absolute; 
	left:230px; 
	top:20px;
	font-size:20px;
	color: #003399;	
}

#searchHeading {
	position:absolute;
	height:auto; 
	left:20px; 
	top:80px;
	}
	#searchButton {
		position:absolute;
		left:180px; 
		top:0px;
	}
	#homeButton {
		position:absolute;
		left:290px; 
		top:0px;
	}
	#newAccountButton {
		position:absolute;
		left:366px; 
		top:0px; 
		width:90px;
	}
	#myAccountButton {
		position:absolute;
		left:490px; 
		top:0px; 
		width:80px;
	}
	
#loginBox {
	position:absolute; 
	width:230px; 
	height:auto; 
	right: 20px; 
	top:0px; 
	padding-left:4px; 
	padding-right:14px; 
	padding-bottom:4px; 
	background-color:#81b9fe;
	}
	#loginBox #username {
		text-align:right; 
		font-weight:bold; 
		font-size:12px;
	}
	#loginBox #password {
		text-align:right; 
		font-weight:bold; 
		font-size:12px;
	}
	#loginBox #remember {
		text-align:center; 
		margin-top:-5px; 
		margin-bottom:5px;
		}
		#remember span {
			font-size:11px; 
			margin-right:15px;
		}
	#loginButton {
		margin:5px 60px;
	}
#logoutBox { 
	position:absolute; 
	width:230px; 
	height:auto; 
	right: 20px; 
	top:0px; 
	padding-left:4px; 
	padding-right:4px; 
	padding-bottom:10px; 
	background-color:#81b9fe;
	}
	#logoutBox p {
		text-align:center; 
		font-weight:bold; 
		margin-bottom:35px;
	}
	#logoutButton {
		position:absolute; 
		right:80px; 
		bottom:6px;
	}
